
</div> <!-- .pasdoc-container -->

</div> <!-- behave like castle_footer when $castle_sidebar is empty -->


  <div class="panel-footer">
    <p><span class="page_copyright">Copyright <a href="https://michalis.xyz/">Michalis Kamburelis</a> and <a href="https://github.com/castle-engine/castle-engine/graphs/contributors">Castle Game Engine Contributors</a>.

    <p>This <a href="https://github.com/castle-engine/cge-www">webpage is also open-source and we welcome pull requests to improve it</a>.

    <p>We use cookies for analytics. See our <a href="privacy_policy.php">privacy policy</a>.
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins).
     Used also by colorbox.

     For API reference: load jQuery only if not loaded yet, otherwise
     Tipue search results are broken (since they load a duplicate jQuery earlier).
     The code to load jQuery conditionally is from
     http://stackoverflow.com/questions/10371211/include-jquery-if-not-included-already
-->
<script type="text/javascript">
    if(typeof jQuery == 'undefined'){
        document.write('<script type="text/javascript" src="castle-engine-website-base/node_modules/jquery/dist/jquery.min.js"></'+'script>');

        /* This looks nicer, but to make it work, also the following colorbox and bootstrap JS
           have to be loaded the same way. Otherwise, colorbox and bootstrap JS are loaded
           too early, and they don't work.
        var oScriptElem = document.createElement("script");
        oScriptElem.type = "text/javascript";
        oScriptElem.src = "castle-engine-website-base/node_modules/jquery/dist/jquery.min.js";
        document.head.insertBefore(oScriptElem, document.head.getElementsByTagName("script")[0])
        */
    }
</script>
<!-- Include colorbox after jQuery is known -->
<script src="castle-engine-website-base/node_modules/jquery-colorbox/jquery.colorbox-min.js" type="text/javascript"></script>
<script type="text/javascript">
  jQuery('a.screenshot').colorbox({opacity: 0.9, rel:'screenshot', maxWidth:'90%', maxHeight:'90%'});
</script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="castle-engine-website-base/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- JS using jquery -->
<script type="text/javascript" src="castle-engine-website-base/castle-engine.js"></script>

<script type='text/javascript'>
var cgeCurrentVersion = '7.0-alpha.2';
var cgeVersions = [
    {'id': '7.0-alpha.2', 'url': 'https://castle-engine.io/apidoc/html/'}
];
</script>
<script type="text/javascript" src="cge-pasdoc.js"></script>
